header {

   height: 100vh !important;
}

#title {
   text-align: center !important;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-30%, -30%);
   color: #696755;
   font-size: 10vh;

}

#intro {
   position: absolute;
   top: 20vh;
   left: 0vh;
   right: 60vh;
   transform: translate(5%, 0) !important;
   color: #cac38ea5;
   font-size: 2.5vh;
}

@media (max-width: 768px) {
   #intro {
      top: 30vh;
      left: 5vh;
      right: 5vh;
      transform: translate(10%, 0) ;
      font-size:2vw;
   }
}

.topwave {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.topwave svg {
   position: relative;
   display: block;
   width: calc(130% + 1.3px);
   height: 248px;
}

.topwave .shape-fill {
   fill: #FFF99E;
}

.spacer_long {
   height: 100vh !important;
   aspect-ratio: 900/540;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.spacer_short {
   aspect-ratio: 900/300;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.layer1 {
   background-image: url('../images/blob-scene-haikei.svg');
}

.layer2 {
   background-image: url('../images/wave1.svg');
   ;
}

.flip {
   transform: rotate(180deg);
}


.text-decoration-underline {
   text-decoration: underline;
   color: chocolate;
}